.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.5)
        ),
    url("https://pyxis.nymag.com/v1/imgs/d4e/390/4c8d60f8885ce9629ef54b9cb7820044f8-15-weekly-planner-notebook-lede.rsquare.w700.jpg");
    background-size: cover;
}

.registerTitle{
    font-size: 50px;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label{
    margin: 10px 0;
}

.registerInput{
   padding: 10px; 
   background-color: white;
   border: none;
}

.registerButton{
   margin-top: 20px;
   cursor: pointer;
   background-color:teal; 
   border: none;
   color: white;
   border-radius: 15px;
   padding: 10px;
}

.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 70px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}